@page "/about"

<PageTitle>About</PageTitle>

<h3>About</h3>

<p>@AboutWebsite</p>
<p>@AboutMe</p>

<br />
<br />
<br />
<br />
<br />
<br />
<br />
<p>
  <h5>Site Technical Details</h5>
  For the curious, this is a site written with the Microsoft tools of
  <RadzenLink Path="https://dotnet.microsoft.com/en-us/apps/aspnet/web-apps/blazor"
              Target="_blank"
              Text="Blazor" /> and
  <RadzenLink Path="https://dotnet.microsoft.com/en-us/download/dotnet/7.0"
              Target="_blank"
              Text=".NET Core 9.0." /> It is hosted on Azure as a
  <RadzenLink Path="https://azure.microsoft.com/en-gb/products/app-service/static/"
              Target="_blank"
              Text="Static Web App" />, and you can learn more about it in the documentation
  <RadzenLink Path="https://learn.microsoft.com/en-us/azure/static-web-apps/"
              Target="_blank"
              Text="here" />.

  Nothing fancy and nothing but awesome.
  I am also using the
  <RadzenLink Path="https://blazor.radzen.com/"
              Target="_blank"
              Text="Radzen" /> for Blazor component library.
<p/>
