@page "/developer"
@using System.Globalization

<PageTitle>Developer</PageTitle>

<h1>Developer</h1>

<p role="status">Current count: @_currentCount</p>

@*<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>*@

<RadzenButton Culture="CultureInfo.CurrentCulture"
              Click="ClickMe"
              Text="@ButtonText" />