@page "/embedded"

<PageTitle>Embedded</PageTitle>

<h1>Embedded Systems Programming</h1>

<p role="status">Current count: @_currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>


