@page "/qmk"

<PageTitle>QMK Firmware</PageTitle>

<h1>QMK Firmware Stuff</h1>

<p role="status">Current count: @_currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

