@page "/qmk"

<PageTitle>QMK Firmware</PageTitle>
<h1>QMK Firmware Stuff</h1>


<div>
    <RadzenLink Path="https://qmk.fm/"
                Target="_blank"
                Text="QMK External Documentation"/>
    <RadzenIcon Icon="open_in_new" 
                style="font-weight: 50; align-items: center; Ico"/>
</div>
