@page "/resume"
@page "/cv"

<PageTitle>Resume'</PageTitle>


<center><h1>Jeff Patterson</h1>
  Ankeny, IA 50023
<br />
<a href="mailto:jeff@jeffpatterson.dev">jeff@jeffpatterson.dev</a>
  </center>

<p>
  <h2>Professional Summary</h2>
  I have written applications in C# using various commercial and OSS frameworks
  to access databases, communicate with in-house and third-party industrial
  equipment, and control motion. I am comfortable using other languages to
  control machinery, robots, and vision inspection systems. As part of the
  project deliverables, I created documentation for the program operation and
  troubleshooting procedures. I have successfully managed controls projects for
  automated machinery in various applications and industries such as
  Automotive, Consumer Electronics, Medical Devices, and Consumer Healthcare.
  These projects had a sale price of $500K–$1.5M and included implementing
  computer information systems, data collection, and a wide assortment of
  control technologies. All designs meet government standards and regulations
  and industry specifications such as the NFPA79, 70, and 70E and any
  additional specifications that the customer would require. Additionally,
  there are times when the equipment is required to meet UL and CE
  certifications before customer acceptance.
</p>
<h2>Employment History</h2>
<h3>Application Developer</h3>
<strong>Eurofins Jun ’21 – Present</strong>
<br />
  At Eurofins, I work with a diverse group of developers in Des Moines, France,
  Costa Rica, and India. I am part of a team of backend developers that create
  and maintain services that support the primary desktop application used by
  partner labs throughout the United States and Canada—writing in C# using Visual
  Studio to produce web services. The backend software accesses data stored in
  SQL Server databases and MongoDb. Additionally, we have an Azure cloud
  application used by third-party customers of a partner lab that I routinely
  update and maintain that runs on several cloud VMs and uses Azure SQL.
<br />
<br />
<h3>Controls Engineer</h3>
<strong>Accumold Jul ’17 – June ‘21</strong>
<p>
  Build Vision Inspection applications for measuring the quality of parts
  produced. Program and maintain custom micro injection molding machines.
  Integrate purchased equipment with equipment designed and built in-house.
  Mentor junior members of the department and help them learn controls
  programming.
</p>
  Career Highlights
<ul>
  <li>
    I recently designed and programmed a multi-camera PC-based vision
    inspection system using C#, Halcon, EFCore, Prism, ReactiveX, SQLite, and
    OPCUA.
  </li>
  <li>
    Built and maintain a Windows desktop application to create and store
    machine recipes in a central database. The original system managed all
    recipes locally on each machine which meant lots of duplication and no
    change management. This project uses C#, SQL Server, WPF, EFCore, and the
    Prism library.
  </li>
  <li>
    I created and maintained a machine security login system for user access
    to machine computers that were not domain-joined. This project included a
    separate desktop application with C#, SQL Server, and WPF for user
    maintenance and security assignments using an RFID reader and writer, EF6,
    and access via security group from AD to limit access to production
    supervisors.
  </li>
</ul>

<h4>Application Engineer</h4>
<strong>Echo Automation and Controls Oct ’14 – Jul ‘17</strong>
<p>
  Review the feasibility of applications brought in by the sales team. Help
  customers determine components required for their applications and, when
  necessary, show them how to use and integrate components. These products
  include Siemens Automation, Cognex 2D/3D vision, ID Barcode, Sick Automation
  and Safety, industrial computers (IPC), remote access, cellular modem
  connectivity, and IoT data collection.
</p>
Career Highlights
<ul>
  <li>
    I was the system administrator for a 22-user Office365 subscription.
  </li>
  <li>
    Setup and maintain the SharePoint Online Site. Specify and purchase
    computer hardware and software for the team—provision equipment for use by
    users.
  </li>
</ul>
<h4>Controls System Engineer</h4>
<strong>Acieta (formerly Ellison Technologies Automation), Council Bluffs, IA Apr '13 – Oct '14</strong>
<p>
  I was the lead software developer for PLC programming and operator interface design. Managed two additional engineers that developed software for use with automated assembly equipment and load unload robotic machine tending.
</p>
  Career Highlights:
<ul>
  <li>
    Built Windows-based machine control platforms for operator control of machine cells, including production statistics part tracking and database recording of process data using C# and SQL CE.
  </li>
  <li>
    Established written controls documentation.
  </li>
</ul>

<h4>Controls Engineer</h4>
<strong>Ultradent Products, Inc., South Jordan, UT Jan ’12 – April ‘13</strong>
<p>
  As a Controls Engineer for an OEM / Contract manufacturer in the consumer healthcare industry, I was responsible for supporting the maintenance staff in troubleshooting and repairing faulty equipment. I also designed internal automation and specified new equipment purchases for high-speed, high-volume dental product manufacturing. (E.g., Orthodontics, toothpaste, teeth whitening, syringe filling, and tooth reconstructive material.)
</p>
<h4>Controls System Engineer</h4>
<strong>Silverstone Automation (formerly M & A Solutions, Inc.), Bluffdale, UT Aug '09 – Jan '12</strong>
<p>
  I was the lead programmer of automation machines for medical manufacturers. Standardized all machine operator interfaces and made its design predictable and understandable—standardized and documented programming procedures. Redesigned and rewrote the template for all user manuals.
</p>
<h4>Additional Experience</h4>
<p>
  Assistant Controls Project Engineer: MAG Automation & Control, Machesney Park, IL – 9.8 years
  <br />
  Controls Engineer / Network Admin: Komax Systems, Rockford, IL – 5 years
  <br />
  Electronic Maintenance Technician: Torrington, Rockford, IL – 7 years
  <br />
  Aviation Electronics Technician, AT2 (E-5): US Navy USS Carl Vinson (CVN-70) Alameda, CA – 4 years
</p>
<h3>Education and Continuing Education</h3>
<p>
  MSCIS: Master of Science in Computer Information Systems
  Bellevue University: Bellevue, NE Mar '18
  <br />
  BSTM: Bachelor of Science in Technical Management
  DeVry University: Addison, IL Mar '08

  <h4>Most recent certificates and training</h4>
<p>
  Azure AZ-900 Cloud Fundamentals 2/23<br />
  AIA CVP Advanced Vision Training 2/20<br />
  C++ DMACC 12/19 (refresher)<br />
  Cognex Vision Pro 2018 CompTIA Security+ 12/16<br />
  Cognex 3D 2015 Cognex Insight 2015<br />
  Microsoft C# MTA 98-361 6/2015
</p>
<h4>Recent Software Experience</h4>
<strong>Windows Programming with:</strong> C#, SQL Server, VB maintenance, C++

<br />
<strong>PLC: </strong>B&R, Rockwell, and Siemens.
<br />
<strong> HMI/SCADA Systems: </strong> B&R VC4 and MappView, FactoryTalk, and WinCC.
<br />
<strong>Robot programming: </strong> 6 and 7 axis, SCARA, and Cartesian for ABB, Fanuc, and Epson.
<br />
<strong>Vision systems: </strong>MVTec Halcon, Cognex Insight, and VisionPro 3D systems.
<br />
<strong>Hobby projects and home automation: </strong>C and C++, Arduino, Circuit Python
  </p>